/* Reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Center the image absolutely within the viewport */
body {
  background-color: white;
  position: relative;
}

/* Image styling */
#static-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* centers both axes */
  width: 50vw;        /* default size on desktop */
  height: auto;
  max-width: 800px;
  cursor: default;
}

/* Portrait phones */
@media screen and (max-width: 600px) {
  #static-img {
    width: 80vw;
  }
}

/* Landscape phones / small tablets */
@media screen and (orientation: landscape) and (max-height: 600px) {
  #static-img {
    width: 60vw;
  }
}

/* Very large screens */
@media screen and (min-width: 1600px) {
  #static-img {
    width: 40vw;
  }
}

