/* Reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Home container */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: white; 
}

/* Image styling */
#static-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  cursor: default !important; /* force normal cursor */
  pointer-events: none; /* ensures it can't be clicked */
}
