/* Reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
}

/* Home container */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 50vw;
  margin: auto;
  background-color: lightgray; /* just so you can see the boundaries */
  border: 1px solid black;
}

/* Image styling */
#static-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: default !important;
  pointer-events: none;
}

